body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

#grid {
  display: flex;
  flex-direction: column;
  aspect-ratio: 2 / 1;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid black;
  overflow: hidden;
  width: 80vmin; 
}

.rows {
  display: flex;
  flex:1;
}

.cols {
  flex:1;
  box-sizing: border-box;
  outline: 1px solid black;
  border-collapse: collapse;
  background-color: rgb(230, 230, 230);
}