body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.etch {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #ed0f0e;
  padding: 10px 10px;
  border-radius: 5px;
}

.logo {
  width: 150px;
  height: auto;
}

#grid {
  display: flex;
  flex-direction: column;
  aspect-ratio: 2 / 1;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid black;
  overflow: hidden;
  width: 100vmin; 
}

.rows {
  display: flex;
  flex:1;
}

.cols {
  flex:1;
  box-sizing: border-box;
  outline: 1px solid black;
  background-color: rgb(218, 218, 218);
  transition: background-color 2s ease;
  user-select: none;
}

.cols:hover {
  transition: none;
  background-color: rgb(105, 105, 105);
}

.controls {
  display: flex;
  gap: 200px;
}

.reset {
  background-color: rgb(255, 94, 0);
  border: 1px solid white;
  color:white;
  border-radius: 5px;
}